*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Verdana, Tahoma, sans-serif;
}

:root {
    --negro: #000000;
    --rojo: #CF0A0A;
    --naranja:  #DC5F00;
    --gris : #EEEEEE;
    --blanco: white;
}

body {
    background-color: var(--gris);
}

.header{
    background-color: var(--rojo);
}

section{
    background-color: var(--gris);
}


/* ----- Logo -----*/
#logo{
    position: relative;
    left: 1.8vw; 
    top: 1.8vh;
    width: 7vw;
    height: auto;
    cursor: pointer;
    float: left;
    border: 2px var(--negro) solid;
    border-radius: 15px;
    filter: contrast(175%) brightness(150%);
}

#logo:hover{
    filter: contrast(95%) brightness(95%);
}


/*----- Menu -----*/
nav ul{
    height: 11vh;
    padding: 4vh 4vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
}

.menu_nav{
    background-color: var(--negro);
    color: var(--gris);
    text-align: center;
    border-radius: 10px;
    padding: 1vh 1vw;
    text-decoration: none;
}

.menu_nav:hover{
    background-color: var(--gris);
    color: var(--negro);
    cursor: pointer;
    border: 2px var(--negro) solid;
}

/* --- Fondo y recuadro transparente ---*/
#fondo_blur{
    width: 99.8%;
    height: 70vh;
    border: 2px solid var(--naranja);
}
.transparent-box{
    background-color: #2d2c2c;
    opacity: 0.80;
    color:  var(--blanco);
    padding: 5vh;  
    width: 20%;
    height: 15%;
    position: absolute;
    top: 40vh;
    left: 35vw;
    font-size: 1.2em;
    text-align: center;
    border: 3px solid var(--rojo);
    border-radius: 15px;
  }
  
.transparent-box img{
    width: 25%;
    border-radius: 15px;
    float: left;
    margin-left: 2vw;
}

.transparent-box h2{
    float: right;
    margin-top: 8%;
    margin-right: 9%;
    color: var(--rojo);
    text-shadow: 5px 5px var(--negro)
}
.transparent-box h4{
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    text-shadow: 5px 5px var(--negro)
}
/* ------------------------------------*/

/*----- Footer -----*/
.footer{
    width: 100%;
    background-color: var(--rojo);
    color: var(--gris);
    text-align: center;
}

#footer_direccion{
    float: left;
    margin-top: 2vh;
    margin-left: 2vw;
    text-align: left;
    color: var(--gris);
}

#footer_direccion img{
    margin-left: 3%;
    margin-top: 2%;
    width: 0.75vw;
    cursor: pointer;
}

#footer_direccion img:hover{
    filter: contrast(85%) brightness(85%);
}

.footer_redes{
    width: 2.2vw;
    cursor: pointer;
}

.footer_redes:hover{
    background-color: var(--gris);
}

.footer_p{
    font-size: 0.8rem;
    color: var(--gris);
}


/*----- Acerca -----*/
#grupo15{
    width: 18vw;
    margin-left: 37vw;
    border: 2px var(--rojo) solid;
    text-align: center;
    padding: 1%;
}
#grupo15 ul{
    list-style-type: none;
}
#grupo15_mensaje{
    text-align: center;
}


/* ---- Formulario de carga de datos -------*/
.input_out{
    background-color: var(--gris);
}

form {
    background-color: var(--naranja);
    align-items: center;
    padding:2vh;
    text-align: center;
    width: 30%;
    margin-left: 33vw;
    border-radius: 15px;
}

form h2 {
    font-size: 2.2rem;
    color: var(--negro);
    margin-bottom: 3.5vh;
}

input {
    padding: 2vh;
    border-radius: 150px;
    background-color: var(--blanco);
    border: 2px solid var(--naranja);
    margin-bottom: 3.5vh;
    outline: false;
    color: var(--negro);
    font-size: 1rem;
    width: 65%;
    accent-color: var(--negro);
}

.input_componentes{
    font-size: 1.15rem;    
    font-weight: 54;
}

.input_nacim{
    margin-top: 2vh;
    width: 30%;
}

.input_pais{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 60%;
    margin-left: -40px;
    height: 3.2vw;
}

.btn {
    margin-top: 7%;
    background-color: var(--negro);
    color: var(--blanco);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--gris);
    color: var(--negro);
    cursor: pointer;
}
/*---------------------------------------*/


/* --- Autos ---*/
.animate__animated.animate__lightSpeedInLeft {
    --animate-duration: 3.5s;
}
.animate__animated.animate__flash {
    --animate-duration: 5s;
}

.auto-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 6%;
}
.auto-container a{
    text-decoration: none;
    color: var(--negro);
}
.auto-img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    border: 3px solid var(--negro);
}

.auto-img:hover{
    border: 3px solid var(--rojo);
    box-shadow: 3px 3px var(--naranja);
}

.auto-img2 {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid var(--negro);
}

.auto-name {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
}

.auto-des {
    text-align: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10em;
    margin-right: 10em;
}

.auto-caract{
    margin-left: 2.5%;
}

.auto-caract p{
    margin-left: -1%;
}

.auto-des-lista{
    list-style-type:square;
}

/* --- API --- */
.api-section{
    background-color: var(--gris);
}
.api-section h2{
    text-align: center;
    margin-top: 2vh;
    background-color: #facaa6;
    width: 52vw;
    margin-left: 23%;
    border: 2px solid var(--naranja);
    border-radius: 10px;
    padding: 0.2%;
}
#api_citems{
    width: 3.5%;
    height: 0.2vh;
    color: var(--negro);
    border-radius: 15px;
    text-align: center;
}
#api-cant-items{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 1%;
    gap: 1vw;
}

.api-data{
    border: 5px solid var(--naranja);
    border-radius: 15px;
    width: 10%;
    margin: 0 0 2vh 44%;
    padding: 1%;
    background-color: #facaa6;
}